/**************************************************************/
/*********************FONDO DE PANTALLA************************/
body 
{
	background: url(imagen3) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/**************************************************************/
.titulo
{

	color:#214F68;
	text-shadow: 0 0.2em 0.3em #838487;

}
.botonesFiltros
{
	color:#214F68;
	text-shadow: 0 0.2em 0.3em black;
	border-radius:2px;

}
/**************************************************************/
.cuadroTitulo
{
	background-color: white;
	border-radius: 6px;
	border:double;
	border-color:#A2ABFC;

}
.tablas
{
	color:1A3067;
	font-size: 20px;
	background-color:white;
	border:double;
	text-shadow: 0 0.1em 0.1em #AFB2C9;
	border-color: #A2ABFC;
}
.tituloTablas
{
	background-color:#214F68;
	color:white;
	text-shadow: 0 0.2em 0.3em black;
	border-radius:5px;
	border:double;
	border-color:#A2ABFC;
	width: 700px;
}
.cuadroBuscar
{
	margin-left: 10px;
	height: 30px;
	width: 250px;
	text-shadow: 0 0.2em 0.3em #214F68;
	border:transparent;
	border-color: #214F68;
	text-align: center;
}
.tituloNombreTabla
{
	color:#214F68;
}