/**************************************************************/
/*********************FONDO DE PANTALLA************************/
body 
{
	background: url(imagen3) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/**************************************************************/
.titulo
{
	color:#214F68;
	text-shadow: 0 0.2em 0.3em #838487;

}
/**************************************************************/
.cuadroTitulo
{
	background-color: white;
	border-radius: 10px;

}